* {
    cursor: none;
}

@font-face {
    font-family: "clock-font";
    src: url("../resources/digital_display_tfb.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../resources/background.png");
}

.cursor{
    width: 64px;
    height: 64px;
    position: fixed;
    z-index: 9999;
    background-image: url("../resources/cursor.png");
    pointer-events: none;
    cursor: none;
}

.channel-container {

    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr)); /* always 4 columns */
    gap: 0.75rem;

    width: 86%;
    padding-left: 7%;
    padding-right: 7%;
    max-height: 70vh;
    
    align-items: center;
    justify-content: center;
    cursor: none;
}

.channel-icon {
    aspect-ratio: 16/9;
    cursor: none;
}

.channel-image {
    border-radius: 15px;
    width: 100%;
    min-width: 100%;
    max-width: 0%;

    aspect-ratio: 16/9;
    border: .2rem solid gray;
    box-sizing: border-box;
    cursor: none;
}

.info-bar {
    position: fixed; 
    bottom: 0;       
    left: 0;

    height: 25vh;   
    min-width: 100%;   
    
    padding: 10px;  
    z-index: 1000;
    
    background-image: url("../resources/bottom_bar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    
    overflow: hidden;
    cursor: none;
}

.channel-image:hover {
    border-radius: 15px;
    border: .2rem solid #3bc0f4;
    cursor: none;
}

.clock {
    display: table;
    margin: auto;
    margin-top: -4vh;
    text-align: center;
    align-items: center;
    font-family: "clock-font";
    font-size: 110px;
    letter-spacing: 0.5rem;
    color: gray;
    font-weight: 500;
}