* {
    cursor: none;
}

@font-face {
    font-family: "clock-font";
    src: url("../resources/digital_display_tfb.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "date-font";
    src: url("../resources/arial_narrow_7.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../resources/background.png");
}

.cursor{
    width: 64px;
    height: 64px;
    position: fixed;
    z-index: 9999;
    background-image: url("../resources/cursor.png");
    pointer-events: none;
    cursor: none;
}

.channel-container {

    margin-top: 4%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr)); /* always 4 columns */
    gap: 0.75rem;

    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    max-height: 60vh;
    
    align-items: center;
    justify-content: center;
    cursor: none;
}

.channel-icon {
    aspect-ratio: 16/9;
    cursor: none;
}

.channel-image {
    border-radius: 15px;
    width: 100%;
    min-width: 100%;
    max-width: 0%;

    aspect-ratio: 16/9;
    border: .2rem solid gray;
    box-sizing: border-box;
    cursor: none;
}

.static-image {
    border-radius: 15px;
    width: 100%;
    min-width: 100%;
    max-width: 0%;

    aspect-ratio: 16/9;
    border: .2rem solid rgb(0, 0, 0);
    box-sizing: border-box;
    cursor: none;
    opacity: 0.15;
}

.message-box {
    
    height: 70vh;
    width: auto;
    background-image: url("../resources/background-3.png");
    margin: 2% 5%;
    border: .2rem solid gray;
    border-radius: 15px;
    cursor: none;
}

.message-textbox {

    margin: 2% 2%;
    margin-top: 0%;
    line-height: 1.8;
    background-color: transparent;
    background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent calc(1.8em - 3px),
    #ccc calc(1.8em - 3px),
    #ccc 1.8em
  );
    text-align: left;
    resize: none;
    font-family: "date-font";
    font-size: clamp(12px, 2.2vw, 22px);
    color: #474747;
    
    height: 66%;
    width: 95%;
    border: none;
    overflow: hidden;
    cursor: none;
    
}

.message-textbox-small {

    margin: 2% 2%;
    margin-top: 0%;
    line-height: 1.8;
    background-color: transparent;
    height: 66%;
    width: 95%;
    background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent calc(1.8em - 3px),
    #ccc calc(1.8em - 3px),
    #ccc 1.8em
  );
    text-align: left;
    resize: none;
    font-family: "date-font";
    font-size: clamp(18px, 2.2vw, 22px);
    color: #474747;

    border: none;
    overflow: hidden;
    cursor: none;
    
}

.message-box-header {
    width: 100%;
    background-color: gray;
    font-family: "date-font";
    font-size: 48px;
    color: rgb(219, 219, 219);
    text-align: center;
    cursor: none;
}

.message-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sender-info {
    height: 12vh;
    display: flex;
    justify-content: space-around;
    cursor: none;
}

.sender-picture {
    height: 80%;
    border: .05rem solid gray;
    margin: 1vh;
    margin-left: 15%;
    width: auto;
    aspect-ratio: 1/1;
    cursor: none;
}

.qualifications-container {
    max-width: 100vw;
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.resume-container {
    justify-self: center;
    min-width: 40vw;
    max-width: 95vw;
    margin: auto auto;
    height: 90%;
}

.info-bar {
    position: fixed; 
    bottom: 0;       
    left: 0;

    height: 25vh;   
    min-width: 100%;   
    
    padding: 10px 0;  
    z-index: 1000;
    
    background-image: url("../resources/bottom_bar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    
    overflow: hidden;
    cursor: none;
    display: flex;
    justify-content: space-between;
}

.info-bar-clear {
    position: fixed; 
    bottom: 0;       
    left: 0;

    height: 25vh;   
    min-width: 100%;   
    
    padding: 10px 0;  
    z-index: 1000;
    
    overflow: hidden;
    cursor: none;
    display: flex;
    justify-content: space-between;
}

.channel-image:hover {
    border-radius: 15px;
    border: .2rem solid #3bc0f4;
    cursor: none;
}

.clock {
    display: table;
    margin: auto;
    padding-left: 1vw;
    margin-top: -4vh;
    font-family: "clock-font";
    font-size: 110px;
    letter-spacing: 0.8rem;
    color: gray;
    font-weight: 500;
    z-index: 1001;
    cursor: none;
}

.date {
    display: table;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-family: "date-font";
    font-size: 60px;
    color: gray;
    font-weight: 200;
    z-index: 1001;
    cursor: none;
}

.left-bar {
    
    margin: 0;
    padding: 0;
    z-index: 1002;

    width: 13rem;
    height: auto;

    background-image: url("../resources/left_bar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    
}

.right-bar {
    
    margin: 0;
    padding: 0;
    z-index: 1002;
    height: auto;

    width: 13rem;

    background-image: url("../resources/right_bar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.button-left {
    height: 7.5rem;
    width: 7.5rem;
    margin-right: 2vw;
    margin-top: 1vw;
}

.button-right {
    height: 7.5rem;
    width: 7.5rem;
    margin-left: 2vw;
    margin-top: 1vw;
}

.button-right:hover, .button-left:hover {
    scale: 1.05;
}

hr {
    margin: 0;
    padding: 0ß;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}