* {
    cursor: none;
}

body {
    background-image: url("../resources/background.png");
}

.cursor{
    width: 64px;
    height: 64px;
    position: fixed;
    z-index: 9999;
    background-image: url("../resources/cursor.png");
    pointer-events: none;
    cursor: none;
}

.channel-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 90%;
    height: 70%;
    cursor: none;
}

.channel-icon {
    aspect-ratio: 16/9;
    cursor: none;
}

.channel-image {
    border-radius: 15px;
    margin-top: .75rem;
    min-width: 13rem;
    max-width: 19rem;
    height: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
    border: .2rem solid gray;
    cursor: none;
}

.info-bar {
    position: fixed; 
    bottom: 0;       
    left: 0;      
    height: 20%;   
    width: 100%;   
    background-color: #bbbbbb; 
    padding: 10px;  
    z-index: 1000;
    cursor: none;
}

.channel-image:hover {
    border-radius: 15px;
    border: .2rem solid #3bc0f4;
    cursor: none;
}
